doctype html

link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')

nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') Trusted MC
    ul.nav.navbar-nav
      li.active
        a(href='/') Home
      li
        a(href='/White-list') White-list
      li
        a(href='/Map') Map
        
          
.container
  h2 Home

  p.
    Welcome to Trusted MC a server. #[br]
    IP: 138.197.172.38 (Must be White-listed to join.)
    
  p.
    Server Performace.#[br]
    #[br]
    RAM usage: N/A
    CPU usage: N/A
    DISK usage: N/A
    Status: ON
    
    
    
