doctype html

link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')

nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') Trusted MC
    ul.nav.navbar-nav
      li.active
        a(href='/') Home
      li
        a(href='/White-list') White-list
      li
        a(href='/Map') Map
        
          
.container
  h2 Map

  h3.
    Current Map
    
  img(src='https://media.discordapp.net/attachments/524741020093513753/640370271815204876/cump.png?width=676&height=676')
    
    
    
    
