doctype html

link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')

nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') Trusted MC
    ul.nav.navbar-nav
      li.active
        a(href='/') Home
      li
        a(href='/White-list') White-list
      li
        a(href='/Map') Map
        
          
.container
  h2 White List

  h3.
    Current List
    
  p.
    Nolsterss #[br]
    tb2k #[br]
    sealgram #[br]
    +9 more #[br]
    #[br]
    
    if you would like to be added to the white list please contact:#[br]
    nolanhepworth@gmail.com
    
    
    
    
    
